<div class="nav flex-column">
    <a class="nav-item" href="/">
        <img src="/assets/images/logo.gif" class="logo">
        <span class="nav-link">FileManager</span>
    </a>
    <a class="nav-item" href="/metamanagement">
        <i class="fas fa-file-image picto"></i>
        <span class="nav-link">Gestion des mots-clés</span>
    </a>
</div>
